body {
  background-color: #FFCC00;
  color: #333333;
}

a:link {color: #333333;}

a:visited {color: #333333;}

a:active {color: #333333;}

.gallerytitle {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  color: #000000;
}

.thumbnailtabletitle {
  font-family: Tahoma, Arial , sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #333333;
}

.thumbnailtitle {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 10pt;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #333333;
}

.navigationtext {
  font-family: Arial, Helvetica, sans-serif;
}

.pageText {
	font-family: Verdana, Arial;
	font-size:10pt;
	font-weight:bold;
}

.precoestoque {
	font-size: 8pt;
}