body {
  background-color: #FFCC00;
  color: #333333;
}

a:link {color: #333333;}

a:visited {color: #333333;}

a:active {color: #333333;}

.navigationtext {
  font-family: Arial, Helvetica, sans-serif;
}

.imagetitle {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #333333;
}

.imagedetail {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size:10pt;
    color: white;
    background-color: #333333;
}