HTML {
	height: 100%;
}

BODY {
	background-color: #303030;
	font-family: Verdana, Arial;
	font-size:10pt;
	color:white;
	height:100%;
	margin:0;
}

A { color: #AFEEEE; }
A:HOVER { color:white; text-decoration: none; }

TD { font-size: 10pt; }

#dadosIncCarro {
	display:none;
	width:410px;
}

.tabadm {
	border: 1px solid Silver;
	padding: 3px 3px 3px 3px;
	width: 100%;
	max-width: 845px;
	_width: expression(document.body.clientWidth > 860 ? "845px" : "100%" );
}

.imgTb {
	padding: 5px;
	float: left;
}

.tdItemAdm {
	font-family: Arial, Helvetica;
	font-size:8pt;
}

#ftEditOv {
	padding:0;
	margin: 0;
	width:100%;
	height:100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: Black;
	display: none;
	opacity:0.6;
	filter:alpha(opacity=60);
	z-index: 998;
}

#ftEditDiv {
	border:2px solid silver;
	position: absolute;
	width: 360px;
	height: 120px;
	background-color: Gray;
	top:50%;
	left:50%;
	margin-left:-180px;
	margin-top:-60px;
	display: none;
	z-index: 999;
}

#admUser {
	padding:5px;
	text-align: center;
}

#formNovoUsuario {
	display:none;
}